.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialog a{
    color: white;
    text-decoration: none;
    &:hover{
        color: #ad0769;
    }
}
.dialogsItems{
    padding: 10px;
}
.dialog.active{
    color: gold;
}

.messages{
    padding: 10px;
    color: white;

}
.message{}